body {
    background-color: #02ffaf;;
    font-family: Arial, sans-serif;
    background-image: url(dumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 400px;
  
    margin: auto;
    padding: 80px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #02ffaf;;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #02ffaf;;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    background-color: #dadddf;
    border: 1px solid #02ffaf;;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #02ffaf;;
    color: #454343;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #5cb8e6;
  }
  